@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-30 19:53:17
 * @version $Id$
 */
 /*===========  create_newdeine ===========*/



/*=========== header ==========*/
.header_wrap {
	background-color: #133d67;
	min-width: 1160px;
}
.header_wrap span{
	display: block;
	padding:50px;
	font-size: 50px;
	color: #fff;
}



.content_wrap {
	padding-top: 5px;
	background-color: #d1d1d1;
}
.content_wrap_left {
	width: 200px;
	height: 2970px;
	float: left;
	vertical-align: top;
	background-color: #1d1d1d;
	border:0px solid transparent ;
	border-radius: 2px;
}
	.content_wrap_left ul{
		position: fixed;
		width: 200px;
		margin-top: 20px;
	}
	.content_wrap_left li {
		display: block;
		padding: 5px 0px 5px 10px;
		cursor: pointer;
		transition: all 0.3s;
		color: #fff;
	}
	.content_wrap_left li:hover{
	background-color: #ed1c24;
}
.content_wrap_right{
	height: 2970px;
	display: block;
	margin: 0px 0px 0px 205px;
	background-color: #fff;
}
.content_main {
	width: 100%;
	height: 300px;
}