@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-21 19:22:35
 * @version $Id$
 */
 /* ========================== */
/* ========= global  ========= */
/* ========================== */
 
/* ========================== */
/* ========= header  ======== */
/* ========================== */
.header_wrap
{
	height: 100%;
	min-width: 1160px;
	background-color: #133d67;
/*	background-image: url(../img/62242930_p0.png);
	background-repeat: no-repeat;*/
	position: relative;
	text-align: center;

}
	.header_wrap_left
	{
		width: 554px;
/*		height: 176px;*/
		display: inline-block;
		text-align: center;
		margin: 80px 0px 30px 0px; 
		color:#FFFFFF ;
		font-size: 25px;
	}
		.header_wrap_left a {
			color: white;
			font-size: 30px;
			margin-left: 20px;
			margin-top: 20px;
			display: inline-block;
		}
		.header_wrap_left a:hover{
			background-color: #1BECEE;
			}
/* ========================== */
/* ========= main  ========== */
/* ========================== */
.main_wrap_1 {
	height: 400px;
	background: #d1d1d1;
}
	.content_1 {
		display: inline-block;
		margin: 50px 50px;
		width: 600px;
	}
	.content_1 p {
		line-height: 30px;
		font-size: 20px;
	}
	.content_1 a {
		display: inline-block;
		margin-top:20px;
		padding: 15px 10px; 
		background-color: #ed1c24;
		font-size: 25px;
		color: #fff;
		transition: all 0.3s;
	}
	.content_1 a:hover {
		background-color: #555;
	}
.main_wrap_2 {
	height: 400px;
	background: #000;
}
	.content_2 {
		display: inline-block;
		margin: 50px 50px;
		width: 600px;
	}
	.content_2 p {
		line-height: 30px;
		font-size: 20px;
		color: white;
	}
	.content_2 a {
		display: inline-block;
		margin-top:20px;
		padding: 15px 10px; 
		background-color: #133d67;
		font-size: 25px;
		color: #fff;
		transition: all 0.3s;
	}
	.content_2 h1 {
	color: white;
	}
	.content_2 a:hover {
		background-color: #555;
	}	
.main_wrap_3 {
	height: 400px;
	background: #16a085;
}
	.content_3 {
		display: inline-block;
		margin: 50px 50px;
		width: 600px;
	}
	.content_3 p {
		line-height: 30px;
		font-size: 20px;
		color: white;
	}
	.content_3 h1 {
	color: white;
	}
	.content_3 a {
		display: inline-block;
		margin-top:20px;
		padding: 15px 10px; 
		background-color: #3a3837;
		font-size: 25px;
		color: #fff;
		transition: all 0.3s;
	}
	.content_3 a:hover {
		background-color: #555;
	}

/* ========================== */
/* ========= footer  ========== */
/* ========================== */
