@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-23 23:18:09
 * @version $Id$
 */
*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
}
body {
	font:'Helvetica Neue', 
	Helvetica, Arial, 
	'Microsoft Yahei', 
	'Hiragino Sans GB', 
	'Heiti SC', 
	'WenQuanYi Micro Hei',
	 sans-serif;
}
h1{
	margin-bottom: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.b_color_1 {
	background-color: #257653;
}
.b_color_2 {
	background-color: #8e44ad;
}
.b_color_3 {
	background-color: #e64a19;
}
.b_color_4 {
	background-color: ;
}
.b_color_5 {
	background-color: #133d67;
}

/* ========================== */
/* ========= nav  =========== */
/* ========================== */ 
.navbar-default {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
}
#navbar_l {
	position: absolute;
	right: 50%;
	margin-right: 100px;
}
#navbar_m {
	position: absolute;
	left: 50%;	
	margin-left: -84px;
	font-size: 20px;
}
#navbar_l a {
	color: #fff;
	transition: all 0.3s;
}
#navbar_m a {
	font-size: 26px;
 	color: #fff;
}

#navbar_r {
	position: absolute;
	left: 50%;	
	margin-left: 100px;
}
#navbar_r a {
	color: #fff;
	transition: all 0.3s;
}
#navbar_l a:hover {
	color: #fff;
	background-color: #555;
}
#navbar_m a:hover {
	color: #fff;
	background-color: #555;
}
#navbar_r a:hover {
	color: #fff;
	background-color: #555;
}

	.wrap_inner {
	margin: 0px auto;
	width: 1160px;
	position: relative;
	}
		.nav_centerwrap {
			/*display: flex;*/
			/*justify-content: center;*/
			text-align: center;
		}
		.nav_navtop { 
		display: inline-block;
		margin:0px 0px;
		padding:0px auto 0px 0px;
		vertical-align: top;

		}
		    .nav_navtop ul {
		    }
			.nav_navtop>ul>li {
				float: left;
				padding:0px 0px;
			}
				.nav_navtop>ul>li>a {
					display: block;
					line-height: 42px;
					margin: 0px;
					padding: 0px 10px 0px 10px;
					font-size: 13px;
					color: #DCEBEB ;
					transition: all 0.3s;
				}
				.nav_navtop>ul>li a:hover {
				    background-color: #555;
				    color: white;
				 }	
		.nav_logo {
		display: inline-block;	
		vertical-align: top;
		transition: all 0.3s;
		}
		.nav_logo>a {
			display:block; 			
			padding: 0px 10px;
			color: #FFFFFF;
			line-height: 42px;
			font-size: 25px; 
		}
		.nav_logo:hover {
			background-color: #257653;
		}
/*		======== login tab ========*/ 
		.nav_wrap_login {
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			margin:0px 10px;
			float: right;
		}
		.nav_wrap_login a {
			display: inline-block;
			padding: 0px 5px;
			line-height: 42px;
			color:#fff; 
			font-size: 14px;
			transition: all 0.3s;		
		}
		.nav_wrap_login a:hover {
			color: red;
		}
		.nav_wrap_login span {
			display: inline-block;
			color:#fff;
		}
		.log_wrap {
			display: none;
			position: fixed;
			top: 0;
			left:0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.4);
			z-index: 100000;
		}
		.log_form {
			display: block;
			position: relative;
			top: 30%;
			width: 500px;
			margin:0px auto 0px auto;
			padding: 20px;
			background-color: #fefefe;
			border: 0px solid transparent;
			border-radius: 3px;
		}
		.form_wrap1 {
			display: block;
			padding: 5px;
			
		}
		.form_wrap1 span {
			display: inline-block;
			font-size:16px;
		}
		.form_wrap1 i {
			display: inline-block;
			width: 17px;
			height: 17px;
			background-image: url(../img/close001.png);
			background-size: 17px;
			cursor: pointer;
			float: right;
		}

		.form_wrap2 {
			margin: 10px 30px 10px 30px;
			padding: 5px;
			border-bottom: 1px solid #ccc;

		}
		.form_wrap2 input {
			line-height: 30px;
			font-size: 16px;
			margin-left: 10px;
			outline: none;
		}
		#log_icon1 {
			display: inline-block;
			height: 20px;
			width: 20px;
			background-image: url(../img/icon.png);
			background-position: -326px -283px;
			vertical-align: text-bottom;
		}
		#log_icon2 {
			display: inline-block;
			height: 20px;
			width: 20px;
			background-image: url(../img/icon.png);
			background-position: -352px -50px;
			vertical-align: text-bottom;
		}
		.form_wrap3 {
			margin:20px 30px 20px 30px;
		}
		.form_wrap3 a {
			float: right;
			color: #1B66C7;
		}
		#log_btn {
			display: block;
			margin:0px auto 0px auto;
			width:400px;
			padding: 15px;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700px;
			color: #fff;
			background-color: #3f89ec;
			border: 0px solid transparent;
			border-radius: 4px;
		}
		.form_wrap4 {
			margin: 20px 30px 20px 30px;
		}
		.form_wrap4 a:first-child{
			float: right;
			color: #1B66C7;
		}
		.usr_menu_wrap {
			display: block;
			padding: 4px 4px;
			position: absolute;
			top: 0px;
			right: 0px;
			margin:0px 10px;
			/*float: right;*/
		}
			#usr_icon {
				display: inline-block;
				padding: 0px 3px;
				transition: all 0.3s;
			}
			#usr_icon:hover{
				background-color: #555;
			}
			#usr_icon span {
				color: #fff;
			}
			#usr_more {
				display: inline-block;
				transition: all 0.3s;
			}
			#usr_more i:hover {
				color: #555;
			}
			#usr_more i{
				display: block;
				height: 20px;
				width: 20px;
				background-image: url(../img/more_info.png);
				background-size: 40px;
				background-position: 31px 61px;
			}
			.usr_menu {
				position: absolute;
				background-color: #fff;
			}
.footer_wrap {
	background-color: #133d67;
}
	.footer_content ul,li{
		display: inline-block;
	}	
	.footer_content a{
		padding: 10px 20px;
		float: left;
		font-size: 16px;
		line-height: 40px;
		transition: all 0.3s;
	}
	.footer_content a:hover{
		color:#DE2121;
	}