{% load static %}
/*默认样式*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
/*	box-sizing: border-box;*/
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/*默认样式*/
/*--===========================================--*/
/*--==============  main-header1  =============--*/
/*--===========================================--*/
.nav_wrap {
    height:auto;
    background-color:#050505;
/*    position: absolute;*/
    overflow: hidden;

}
	.nav_logo {
		height: auto;
		width: 16.66%;
/*		float: left;*/
		display: inline-block;
		vertical-align: top;
		margin-top: 0px;
		margin-left: 20px;
		margin-bottom: 0px;
		padding-top: 5px;
	}
		.nav_logo>a {
			color: #FFFFFF;
			display:block; 
			font-size: 25px; 

		}
		.nav_logo:hover {
			background-color: #257653;
		/*	color: #FFFFFF;*/
		/*	position:relative;*/
		/*	top: 10px; */
		/*	margin-top: 10px;
			text-decoration-line:none; 
			font-size: 35px; */
		}
		.nav_navtop { 
		height: auto;
		width: 50%;
/*		float: left;*/
		display: inline-block;
		vertical-align: top;
		margin-left:0px;
		margin-top: 0px;
		}
	
		.nav_navtop ul li {
			float:left;
			line-height: 42px;
			vertical-align: middle;
		/*	display: block;*/
		/*	list-style-type: none;*/
		/*	list-style: none;*/
		}

			.nav_navtop>ul>li>a {
				margin-top: 0px;
				padding: 12px 15px 12px 15px;
				font-size: 18px;
				color: #DCEBEB ;
				vertical-align: middle;
			}
			.nav_navtop>ul>li a:hover {
			    background-color: #555;
			    color: white;
			 }	
		.nav_wrap_menu {
	/*		background-color: #9A4;*/
			height: auto;
			width: 25%;
/*			float: left;*/
			display: inline-block;
			vertical-align: top;
			margin-right: 0px;
		}
			.nav_wrap_menu>ul>li>a {
				color:#FFFFFF;
				display: inline-block;
				line-height: 42px;
				float: left;
				margin:0px 0px;
				padding:0px 10px;
			}
			.nav_wrap_menu a:hover {
				background-color: #555;
			}
			.nav_wrap_menu i {
				display: block;
				margin-top: 6px;
				height: 30px;
				width: 30px;
				float: left;
				background: url(../img/ID.jpg);
			}
		.nav_wrap_login {
			display: none;
			height: auto: ;
			float: right;
			margin-right: 100px;
		}
		.usrid:hover .nav_wrap_user {
			display: block;
		}
		.nav_wrap_user {
			
			width: 140px;
			height:140px;
			position:absolute;
			top:42px;
			left: 68%;
			background-color: white;
			z-index: 20;	
			display: none;	
		}
		#nav_user {
			display: block;
			float: left;
			color: black;
			line-height: 2em;
			width: 60px;
			height: 60px;
			padding:5px;
			text-align: center;
			/*vertical-align: baseline;*/	
		}
		.nav_wrap_message {
			width: 200px;
			height:280px;
			position:absolute;
			top:42px;
			left: 72%;
			background-color: white;
			z-index: 10;	
			display: none;	
		}
		.nav_wrap_message li {
			line-height: 25px;
		}

/*--===========================================--*/
/*--==============  main-content1  =============--*/
/*--===========================================--*/
.header_wrap
{
	margin-top: 0px;

/*	background: url(../img/background.jpg);*/
	background-color: #3A3737;
/*	background-attachment: fixed;*/
/*	overflow: hidden;*/
	border:1px solid transparent;
}
	.header_wrap_left
	{
		width: 33.33%;
		display: inline-block;
		vertical-align:top;
		text-align: center;
		margin: 20px 0px 0px 20px;
		color:#FFFFFF ;
		font-size: 25px;
	}
		.header_wrap_left a {
			color: white;
			font-size: 30px;
			margin-left: 20px;
			margin-top: 20px;
		/*	line-height: 40px; 
			vertical-align: baseline;*/
			display: inline-block;
		}
		.header_wrap_left a:hover{
			background-color: #1BECEE;
			}
	.header_wrap_right
	{
		width: 50.0%;
		height: 350px;
		margin-top: 0px;
		margin-left: 0px;
	/*	background: url(../img/62242930_p0.png);*/
	/*	position: relative;
		top:  0px;
		left: 0px;*/
	/*	background-color:#523232;*/
		font-size: 25px;
		display: inline-block;
		vertical-align: top;
		overflow-x: hidden;
		overflow-y: hidden;
	}
		.header_wrap_right img
		{
			position: relative;
			left: 0px;
			top: -25px;
		}

/*--===========================================--*/
/*--==============  content2  =============--*/
/*--===========================================--*/
.maintop_wrap {
	height: 60px;
	background-color: #f0f3f5;
	margin: 0px;
	font-size: 15px;
	text-align: center;
}
	.maintop_wrap_1 {
		margin:10px auto;
		width: 1024px;
		height: 60px;
		text-align: center;
	}
	.maintop_wrap_sc {
		width: 200px;
		margin-left:auto; 
		margin-top: 0px;
		margin-right: auto;
		padding: 10px 20px 10px 20px;
		background-color: #545652;
		float: left;
		border: 1px solid transparent;
	}
	.maintop_wrap_sc:hover {
		background-color: #090101;
	}
		.maintop_wrap a {
		font-size: 20px;
		color: white;
/*		line-height: 25px;*/
		padding: 0px 80px 0px 80px;
		display: inline-block;
		border-style: none;
		}
	.maintop_wrap_community {
		width: 200px;
		margin-left:37px; 
		margin-top: 0px;
		margin-right: auto;
		padding: 10px 20px 10px 20px;
		background-color: #545652;
		float: left;
		border: 1px solid transparent;


	}
	.maintop_wrap_topic
	{
		width: 200px;
		margin-left:37px; 
		margin-top: 0px;
		margin-right: auto;
		padding: 10px 20px 10px 20px;
		background-color: #545652;
		float: left;
		border: 1px solid transparent;

	}
/*--===========================================--*/
/*--==============  main1_wrap  =============--*/
/*--===========================================--*/
.mainsc_wrap
{
	display: block;
	height: 900px;
/*	width: 75%;*/
	background-color: #D7D9DB;
/*	margin: 0px auto;*/
	padding:0px 12.5%;

}
	.mainsc_wrap_left {
		width: 100px;
		display: inline-block;
		vertical-align: top;
		margin:30px 5px;
		background-color: #FFFFFF;

	}
	.mainsc_wrap_right {
/*		height: 400px;*/
		width: 900px;
		display: inline-block;
		margin:10px 10px; 
/*		background-color: #FFFFFF;*/
	}
	.mainsc_wrap_temp {
/*		background-color: */
		margin:20px 0px;
/*		display: inline-block;*/
		background-color: #FFFFFF;
	}
	.mainsc_usr_icon {
		display: block;
		padding :10px;
/*		width: 100px;*/
	}
	.mainsc_usr_icon a img {
		display: inline-block;
/*		height: 50px;
		width: 50px;
		margin:40px 10px 0px 20px;*/
/*		background: url(../img/100.jpg);*/
		border-radius: 25px;		
	}
	.mainsc_usr_right {
		display: inline-block;
	}

	.mainsc_usr_name {
		display: inline-block;
		margin:5px 10px;
		vertical-align: top;
	}
	.mainsc_usr_info {
		margin:0px 10px;

	}

	.mainsc_content {
		display: inline-block;
		vertical-align:top;
		margin:10px;
		height: 200px;
		width: 570px;
/*		background-color: #D7D9DB;*/
	}
	.mainsc_content_img {
		display: block;
		margin:30px 10px 30px 10px;
	}
	.mainsc_content_artical {
		display: inline-block;
		margin:10px;
	}
	.mainsc_content_division {
		margin:0px 20px;
		border-bottom: 1px solid black;
	}
	.mainsc_content_comment {
		height: 200px;
		margin: 10px 20px;
/*		background-color: green;*/
	}
