{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="关键字">
	<meta name="description" content="主页80字">
	<title>Current_defines</title>
	<link rel="stylesheet" href="{% static '/css/initial.css'%}">
	<link rel="stylesheet" href="{% static '/css/current_defines.css'%}">

	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<header class="nav_wrap">
		<div class="wrap_inner nav_centerwrap">
				<div class="nav_navtop">
					<ul>
						<li><a id="test1" href="{% url 'create_newdefine' %}">创建新定义</a></li>
						<li><a href="{% url 'current_defines'%}">当前定义树</a></li>
					</ul>
				</div> 
				<div class="nav_logo">
					<a href="{% url 'index'%}">NewType Club</a>
				</div>
				<div class="nav_navtop">
					<ul>
						<li><a href="{% url 'project_details'%}">计划概览</a></li>
						<li><a href="">个人概览</a></li>
						<li><a href="">News</a></li>
					</ul>
				</div>			
				
<!-- 			=======	Begin login ===========	 -->
			<div class="nav_wrap_login" style="display: none;">
				<a onclick="document.getElementById('login1').style.display='block'" href="javascript:void(0)">登录</a><span>|</span><a href="">注册</a>
			</div>
			<div class="usr_menu_wrap">
				<a id="usr_icon" href=""><img src="{%static '/img/shuoyar.jpg'%}" alt=""><span>3</span></a>
				<a id="usr_more" href=""><i></i></a>
				<div class="usr_menu" style="display: none;">
					<ul>
						<li><a href=""></a>个人信息ID</li>
						<li><a href=""></a>收藏</li>
						<li><a href=""></a>短消息</li>
						<li><a href=""></a>设置</li>
						<li><a href=""></a>注销</li>
					</ul>
				</div>		
			</div>
			<div id="login1" class="log_wrap">
				<form class="log_form" action="">
					<div class="form_wrap1">
						<span>登录</span>
						<i onclick="document.getElementById('login1').style.display='none'"></i>
					</div>
					<div class="form_wrap2">
						<label id="log_icon1" for="username"></label><input type="text" id="username" value="" size="40">	
					</div>
					<div class="form_wrap2">
						<label id="log_icon2" for="password"></label><input type="password" id="password" value="" size="40">
					</div>
					
					<div class="form_wrap3">
						<input type="checkbox" name="" value="" id="checkbox"> <label for="checkbox">自动登录</label> 
						<a href="">忘记密码</a>
					</div>
					<input type="submit" value="登录" id="log_btn">
					<div class="form_wrap4">
						<a href="">第三方登录</a>
						<a href="">注册</a>
					</div>	
				</form> 
			</div>
		</div>
	</header>
<!-- 	========= header begin  =========== -->
	 <div class="header_wrap">
 		<div class="wrap_inner">
 			<span>定义树</span>	
 		</div>
 	</div>
 <!-- ============ header end  ========= -->
	<div class="content_wrap">
		<div class="wrap_inner">
			<div class="content_wrap_left">
				<ul>
					<li>自我</li>
					<li>社会性</li>
					<li>世界</li>
					<li>科学</li>
					<li></li>
				</ul>
			</div>
			<div class="content_wrap_right">
				<div class="content_1 b_color_1">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>					
				</div>
				<div class="content_1 b_color_2">
					<a href="">
						<span>箴言</span>
						<div class="content_1_c">
							<p>贯彻自我的一句话</p>
							<p>对自我的约束</p>
							<p>对自己的期望</p>
							<p>对于真名的拓展</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_3">
					<a href="">
						<span>纹章 徽记 Logo</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_4">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_1">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>					
				</div>
				<div class="content_1 b_color_2">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_3">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_4">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_1">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>					
				</div>
				<div class="content_1 b_color_2">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_3">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
				<div class="content_1 b_color_4">
					<a href="">
						<span>真名</span>
						<div class="content_1_c">
							<p>不同于父母给予的名字</p>
							<p>自己给予自己的名字</p>
							<p>对应着自己的灵魂和自我意识</p>
							<p>迈出重新定义自我的第一步</p>
						</div>
					</a>
					<div class="content_1_bottom">
						<a href="">支持度</a>
						<a href="">完成进度</a>
						<a href="">参与人数</a>
						<a href="">趋势</a>
					</div>						
				</div>
			</div>
		</div>
		
	</div>


 	<footer class="footer_wrap">
		<div class="wrap_inner">
			<div class="footer_content">
				<ul>
					<li><a href="">关于我们</a></li>
					<li><a href="">微博</a></li>
					<li><a href="">微信号</a></li>
					<li><a href="">bilibili</a></li>
					<li><a href="">Team</a></li>
					<li><a href="">反馈</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>