{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="创建新定义">
	<meta name="description" content="主页80字">
	<title>创建新定义</title>
	<link rel="stylesheet" href="{% static '/css/initial.css'%}">
	<link rel="stylesheet" href="{% static '/css/define_detail.css'%}">	
</head>
<body>
	<header class="nav_wrap">
 		<div class="wrap_inner nav_centerwrap">
 <!-- 			<div class="nav_centerwrap"> -->
				<div class="nav_navtop">
					<ul>
						<li><a id="test1" href="{% url 'create_newdefine' %}">创建新定义</a></li>
						<li><a href="{% url 'current_defines'%}">当前定义树</a></li>
					</ul>
				</div> 
				<div class="nav_logo">
					<a href="{% url 'index'%}">NewType Club</a>
				</div>
				<div class="nav_navtop">
					<ul>
						<li><a href="{% url 'project_details'%}">计划概览</a></li>
						<li><a href="">个人概览</a></li>
						<li><a href="">News</a></li>
					</ul>
				</div>			
<!--  			</div> -->
			<div class="nav_wrap_login" style="display: none;">
				<a onclick="document.getElementById('login1').style.display='block'" href="javascript:void(0)">登录</a><span>|</span><a href="">注册</a>
			</div>
			<div class="usr_menu_wrap">
				<a id="usr_icon" href=""><img src="{%static '/img/shuoyar.jpg'%}" alt=""><span>3</span></a>
				<a id="usr_more" href=""><i></i></a>
				<div class="usr_menu" style="display: none;">
					<ul>
						<li><a href=""></a>个人信息ID</li>
						<li><a href=""></a>收藏</li>
						<li><a href=""></a>短消息</li>
						<li><a href=""></a>设置</li>
						<li><a href=""></a>注销</li>
					</ul>
				</div>		
			</div>
			<div id="login1" class="log_wrap">
				<form class="log_form" action="">
					<div class="form_wrap1">
						<span>登录</span>
						<i onclick="document.getElementById('login1').style.display='none'"></i>
					</div>
					<div class="form_wrap2">
						<label id="log_icon1" for="username"></label><input type="text" id="username" value="" size="40">	
					</div>
					<div class="form_wrap2">
						<label id="log_icon2" for="password"></label><input type="password" id="password" value="" size="40">
					</div>
					
					<div class="form_wrap3">
						<input type="checkbox" name="" value="" id="checkbox"> <label for="checkbox">自动登录</label> 
						<a href="">忘记密码</a>
					</div>
					<input type="submit" value="登录" id="log_btn">
					<div class="form_wrap4">
						<a href="">第三方登录</a>
						<a href="">注册</a>
					</div>	
				</form>
			</div>	 
 		</div>
 	</header>
<!-- 	========= header begin  =========== -->
	 <div class="header_wrap">
 		<div class="wrap_inner">
 			<span>真名</span>	
 		</div>
 	</div>
 <!-- ============ header end  ========= -->	
<!-- ============= content begin  ============= -->
	<div class="content_wrap">
		<div class="wrap_inner">
			<div class="content_wrap_left">
				<ul>
					<li>内容</li>
					<li>阐述</li>
					<li>方法</li>
					<li>实例</li>
					<li>进程</li>
					<li>分支</li>
				</ul>
			</div>
			<div class="content_wrap_right">
				<div class="content_main b_color_1">
					<h1>真名</h1>
					<div class="">
						<p>旧人类的名字是父母给予的，而我认为对于新人类来说，名字不仅仅是一个身份的识别，还体现着一个人的灵魂和自我意识。父母给予的名字只是最初的代号，当我们具备自我意识后，对自己透彻认知之后，应该自己给予自己一个名字。这在人类的历史中也是很常见的，在成年后改名，或者增加其他并行的名字。而我认为这些都应该归类为真名，真正的名字，自己给予自己的名字，自己真正认同的名字，代表了自己意志的名字，赋予了特别含义的名字。</p>
						<p>真名代表着具备这个的个体，不同于旧人类的受制于既定的定义，迈出重新定义自己的第一步。建立在充分探求自我，观察自我的基础上。这也是避免像旧人类一样，跟随大流，失去自我思考的所做的必须。</p>
						<p>实例化：</p>
						<p>给于自己真名，真名反映自己的特质，内心，愿望，理想，理念。名字不一定有意义，意义应该是在之后花费时间去给予名字，直到名字被自己认可。</p>
					</div>
					<div class="content_main_btn">
						<span>收藏</span>
						<span>支持</span>
						<span>反对</span>
						<span>留言</span>
					</div>
				</div>
				<div class="content_method">
					<h1>方法</h1>
					<p></p>
				</div>
				<div class="content_instance">
					
				</div>
				<div class="content_progress">
					
				</div>
				<div class="content_banch">
					
				</div>
			</div>
		</div>
	</div>


 	<footer class="footer_wrap">
		<div class="wrap_inner">
			<div class="footer_content">
				<ul>
					<li><a href="">关于我们</a></li>
					<li><a href="">微博</a></li>
					<li><a href="">微信号</a></li>
					<li><a href="">bilibili</a></li>
					<li><a href="">Team</a></li>
					<li><a href="">反馈</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
</html>