{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="新人类补完计划">
	<meta name="description" content="主页80字">
	<title>NewTypeClub-PlusProject</title>
	<link rel="stylesheet" href="{% static '/css/initial.css'%}">
	<link rel="stylesheet" href="{% static '/css/details.css'%}">

	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<header class="nav_wrap">
 		<div class="wrap_inner">
 			<div class="nav_centerwrap">
				<div class="nav_navtop">
					<ul>
						<li><a id="test1" href="javascript: void(0);">创建新定义</a></li>
						<li><a href="">当前定义树</a></li>
					</ul>
				</div> 
				<div class="nav_logo">
					<a href="http://127.0.0.1:8000">NewType Club</a>
				</div>
				<div class="nav_navtop">
					<ul>
						<li><a href="">计划概览</a></li>
						<li><a href="">个人概览</a></li>
						<li><a href="">News</a></li>
					</ul>
				</div>			
 			</div>
			<div class="nav_wrap_login" style="display: none;">
				<a onclick="document.getElementById('login1').style.display='block'" href="javascript:void(0)">登录</a><span>|</span><a href="">注册</a>
			</div>
			<div class="usr_menu_wrap">
				<a id="usr_icon" href=""><img src="{%static '/img/shuoyar.jpg'%}" alt=""><span>3</span></a>
				<a id="usr_more" href=""><i></i></a>
				<div class="usr_menu" style="display: none;">
					<ul>
						<li><a href=""></a>个人信息ID</li>
						<li><a href=""></a>收藏</li>
						<li><a href=""></a>短消息</li>
						<li><a href=""></a>设置</li>
						<li><a href=""></a>注销</li>
					</ul>
				</div>		
			</div>
			<div id="login1" class="log_wrap">
				<form class="log_form" action="">
					<div class="form_wrap1">
						<span>登录</span>
						<i onclick="document.getElementById('login1').style.display='none'"></i>
					</div>
					<div class="form_wrap2">
						<label id="log_icon1" for="username"></label><input type="text" id="username" value="" size="40">	
					</div>
					<div class="form_wrap2">
						<label id="log_icon2" for="password"></label><input type="password" id="password" value="" size="40">
					</div>
					
					<div class="form_wrap3">
						<input type="checkbox" name="" value="" id="checkbox"> <label for="checkbox">自动登录</label> 
						<a href="">忘记密码</a>
					</div>
					<input type="submit" value="登录" id="log_btn">
					<div class="form_wrap4">
						<a href="">第三方登录</a>
						<a href="">注册</a>
					</div>	
				</form>
			</div>	 
 		</div>
 	</header>
 	<div class="header_wrap">
 		<div class="wrap_inner">
 			<span>新人类补完计划</span>	
 		</div>
 	</div>
 	<div class="content_wrap">
 		<div class="wrap_inner">
 			<div class="content_left_wrap">
 				<ul>
 					<li>1#何为人类</li>
 					<li>2#定义</li>
 					<li>3#新人类</li>
 					<li>4#新人类补完计划</li>
 					<li>5#实例化</li>
 					<li>6#分叉</li>
 					<li>7#步骤</li>
 					<li>8#Team</li>
 				</ul>
 				
 			</div>
 			<div class="content_right_wrap">
 				<h2>何为人类</h2>
 				<p>将“人类”这个词拆分成“人”和“类”，人类不过是一系列具备人这种定义的一类事物，并不是具备人类生物学特征的才叫做人类，具备人的生物学特征仅仅是人类定义的很小一部分，而真正决定人类的是关于人类的一组抽象定义。</p>
				<h2>定义</h2>
 				<p>包含人类所具备的属性和行为，将人类的生物学特征、属性、特质、道德、法律、规则、行为、逻辑、理念、目的、思想、思考方式、社会活动、人类社会属性和社会系统运行的模式等等，包括这一切的整体才可以称作人类。
				<p>表征自我的定义：真名、箴言、年龄认知、性别认知、二分心智</p>
				<p>表征社会关系的定义：家族、仆从和使魔</p>
				<p>表征对世界的定义：对神的认知，</p>
				<h2>#3新人类</h2>
				<p>在现在人类整体中不断在出现着一类特异个体，这类个体对既有的人类生存方式存在疑问和抵触，对世界存在着深深地厌恶。他们迷失在人类整体中，困惑着自己存在的意义，潜意识中了解到自己是为了某个目的活着的，但被旧人类的定义束缚而无法超脱其外。
					这类个体，对自己的属性对自己的行为有着和常人不同的理解，而且互相之间有相似的部分。这些个体自然可以归类于同一类“人类”。因而也可以对这一类“人类”提出自己特有的定义。这些定义构成的，这就是新人类。</p>
				<h2>#4新人类补完计划</h2>
				<p>寻找人类中的特异个体，由我们提出新人类的定义，通过将定义实例化，共同认可的定义成为所有新人类的表征。在这个过程中对旧人类施加影响，扩大新人类的数量和质量，最后完成对旧人类和旧世界的替代。
				{募集资金，建立组织，采取策略的行动，步步蚕食}</p>
				<h2>#5实例化</h2>
				<p>将抽象的定义变成具体的实例的过程，称为实例化过程。初始的定义必然充满着理想化成分，在实例化过程中得到完善的建议，不同个体在各自实例化的过程中提出自己的问题，协助最终得到绝大多数人认同的定义。</p>
				<h2>#6分叉</h2>
				<p>建立新人类定义的初衷即是为了弥补旧人类对于异类的扼杀，同样在新人类特异个体中，相互的差异应该比旧人类更加严重。对于某一个定义如果出现严重的分歧，不应该采用旧人类常用的多数消灭少数的做法，而是允许其存在。这被称为“分叉”。分叉产生的定义分支banch被允许在一定时间内并存，直到某一个在进一步实例化的过程中被舍弃否定，亦或是在并行过程中消除了分歧，最终完成统一。</p>
				<h2>#7步骤</h2>
				<p>首先通过网站展示我的理念，由我来给出最初的定义。</p>
				<p>通过网络传播吸引到第一批新人类个体</p>
				<p>第一批个体在实例化过程中影响，吸引更多个体。</p>
				<p>当第一批个体中出现具备特定技能的个体，满足条件后，建立实体组织继续推进计划。</p>
				<p>从实体组织层面扩大宣传力度，影响力，吸引更多个体。获得认同理念的人的资金支持，建立基金会，通过资本运作获得进一步扩大组织的资金。</p>
				<p>将资金投入新人类提升计划中，帮助新人类发挥自己的能力，新人类在旧人类社会中表现的更加优秀，形成一种思潮，新人类被证明相比于旧人类是一种进化。</p>
				<p>建立分支组织，渗透进入旧人类各个领域，掌握政府权力、把控经济、科学、传媒、甚至武力。</p>
				<h2>#8Team</h2>
				<p>在上面提到的第一批个体中某些具备特定技能的个体，当然意志也要足够坚定，能够决然放弃旧人类的生存方式。如同在一个队伍中应该由不同角色和职业构成，那么为了建立实体化组织，也应该召集到这些个体。应该包括这些：
				<p>1.具有领袖能力的个体（战士）</p>
				<p>2.具备策略制定能力的个体（智者）
				<p>3.具备全栈能力的Hacker（魔术师）</p>
				<p>4.具备全面设计制造能力的极客（机械师）</p>
				<p>5.具备美术设计能力的（画师）</p>
				<p>6.具备掌握传媒能力的运营（巫师）</p>
				<p>7.具备资金募集和运作能力的财务管理（牧师）</p>
				<p>8.具备信仰鼓舞士气的（圣骑士）</p>
				<p>9.（宠物）</p>
 			</div>
 		</div>
 	</div>





 	<footer class="footer_wrap">
		<div class="wrap_inner">
			<div class="footer_content">
				<ul>
					<li><a href="">关于我们</a></li>
					<li><a href="">微博</a></li>
					<li><a href="">微信号</a></li>
					<li><a href="">bilibili</a></li>
					<li><a href="">Team</a></li>
					<li><a href="">反馈</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>