<!-- {% load static %} -->
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="关键字">
	<meta name="description" content="主页80字">
	<title>没有名字的怪物集会所</title>
<!-- 	<link rel="stylesheet" href="{% static '/css/index.css'%}"> -->
	<link rel="stylesheet" href="../static/css/index.css">

	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<!-- =======	Begin nav ===========-->

	<div class="nav_wrap">
 		<div class="nav_wrap_inner">
			<div class="nav_logo">
				<a href="javascript: void(0);">NewType Club</a>
			</div>
			<div class="nav_navtop">
				<ul>
					<li><a href="">首页</a></li>
					<li><a href="">酒吧池</a></li>
					<li><a href="">咖啡馆</a></li>
					<li><a href="">茶话会</a></li>
					<li><a href="">宴会厅</a></li>
				</ul>
			</div> 
<!-- 			=======	Begin login ===========	 -->
			<div class="nav_wrap_login">
				<a onclick="document.getElementById('login1').style.display='block'" href="javascript:void(0)">登录</a><span>|</span><a href="">注册</a>
			</div>
			<div id="login1" class="log_wrap">
				<form class="log_form" action="">
					<div class="form_wrap1">
						<span>登录</span>
						<i onclick="document.getElementById('login1').style.display='none'"></i>
					</div>
					<div class="form_wrap2">
						<label id="log_icon1" for="username"></label><input type="text" id="username" value="" size="40">	
					</div>
					<div class="form_wrap2">
						<label id="log_icon2" for="password"></label><input type="password" id="password" value="" size="40">
					</div>
					
					<div class="form_wrap3">
						<input type="checkbox" name="" value="" id="checkbox"> <label for="checkbox">自动登录</label> 
						<a href="">忘记密码</a>
					</div>
					<input type="submit" value="登录" id="log_btn">
					<div class="form_wrap4">
						<a href="">第三方登录</a>
						<a href="">注册</a>
					</div>	
				</form>
			</div>
<!-- 			=======	Begin 个人中心菜单 ===========	 -->		
			<div class="nav_wrap_menu">
				<div class="nav_menu_l">
					<a class="nav_menu_m" class="usrid" href="javascript:void(0)">
						<img src="../static/img/ID.jpg" alt="" width="30px" height="30px">用户ID
					</a>
					<div class="nav_wrap_user">
						<a id="nav_user" 
						href="javascript:void(0)">个人<br>中心</a>
						<a id="nav_user" href="javascript:void(0)">发布<br>管理</a>
						<a id="nav_user" href="javascript:void(0)">意见<br>反馈</a>
						<a id="nav_user" href="javascript:void(0)">退出</a>
					</div>			
				</div>			
				<div class="nav_menu_l">
						<a class="nav_menu_m" href="javascript:void(0)">
				        消息</a>
						<div class="nav_wrap_message">
							<ul>
								<li><a href="javascript:void(0)">用户</a>消息信息1</li>
								<li><a href="javascript:void(0)">用户</a>消息信息1</li>
								<li><a href="javascript:void(0)">用户</a>消息信息2</li>
								<li><a href="javascript:void(0)">用户</a>消息信息3</li>
								<li><a href="javascript:void(0)">用户</a>消息信息4</li>
								<li><a href="javascript:void(0)">用户</a>消息信息5</li>
								<li><a href="javascript:void(0)">用户</a>消息信息6</li>
								<li><a href="javascript:void(0)">用户</a>消息信息7</li>
								<li><a href="javascript:void(0)">用户</a>消息信息8</li>
								<li><a href="javascript:void(0)">用户</a>消息信息9</li>
							</ul>
						</div>			
				</div>
				<div class="nav_menu_l">
						<a class="nav_menu_m" href="javascript:void(0)">
							收藏
						</a>					
					
				</div>
				<div class="nav_menu_l">
					<a class="nav_menu_m" href="javascript:void(0)">
						历史
					</a>					
					
				</div>
			</div>		
		</div>	 
	</div>
<!-- ===============	End nav ==================-->

<!-- ================	Begin header ==================-->
	<div class="header_wrap">
<!-- 		<div class="nav_wrap_inner"> -->
			<div class="header_wrap_left">
				<h2>欢迎来到新人类俱乐部</h2>
				<p>这里放置什么好呢</p>
				<p>还有这里难道定位于消息？任务？</p>
				<a href="javascript: void(0)">你怎么看？</a>
			</div>
			<div class="header_wrap_right">
				<div class="myslides fade">
					<img src="../static/img/slideshow1.jpg" alt="show"  height="309px">
					<span class="text">说明1</span>
				</div>
				<div class="myslides fade">
					<img src="../static/img/slideshow2.jpg" alt="show" height="309px">
					<span class="text">说明2</span>				
				</div>
				<div class="myslides fade">
					<img src="../static/img/slideshow3.jpg" alt="show" height="309px">
					<span class="text">说明3</span>				
				</div>
				<div class="myslides fade">
					<img src="../static/img/slideshow4.jpg" alt="show" height="309px">
					<span class="text">说明4</span>	
				</div>
					<a class="btn_prev" onclick="plusSlide(-1)" href="javascript:void(0)">❮</a>
					<a class="btn_next" onclick="plusSlide(1)" href="javascript:void(0)">❯</a>
				<div class="header_dot_wrap">
					<span onclick="currentSlide(1)" class="header_dot"></span>
					<span onclick="currentSlide(2)" class="header_dot"></span>
					<span onclick="currentSlide(3)" class="header_dot"></span>
					<span onclick="currentSlide(4)" class="header_dot"></span>
				</div>			
			</div>



<!-- 				<img src="../static/img/62242930_p0.png" alt="imgfe" width="679" height="440"> -->
			</div>
<!-- 		</div> -->
	</div>

<!-- ================	Begin main ==================-->

	<div class="maintop_wrap">
		<div class="nav_wrap_inner">
			<div onclick="displaymainsc_wrap()" class="maintop_wrap_sc">				
				<a href="javascript:void(0)">动态</a>
			</div>
			<div class="maintop_wrap_community">
				<a href="javascript:void(0)">社区</a>
			</div>
			<div class="maintop_wrap_topic">
				<a href="javascript:void(0)">话题</a>
			</div>
		</div>
	</div>


<!-- ================	Begin main ==================-->

	<div class="mainsc_wrap">
		<div class="nav_wrap_inner">
		<div class="mainsc_wrap_left">
			<div class="mainsc_pulishtime">
				<ul>
					<li><span id="pulishtime_title">发布时间</span></li>
					<li><i></i><a id="pulishtime" href="">1h</a></li>
					<li><i></i><a id="pulishtime" href="">6h</a></li>
					<li><i></i><a id="pulishtime" href="">24h</a></li>
				</ul>				
			</div>
			<div class="mainsc_group">
				<ul>
					<li><a class="group_list" href="">特别关注</a></li>
					<li><a class="group_list" href="">分组1</a></li>
					<li><a class="group_list" href="">分组2</a></li>
				</ul>				
			</div>
		</div>
		<div class="mainsc_wrap_center">
			<div class="mainsc_wrap_temp">
			    <div class="mainsc_usr_icon">
			    	<a href="javascript:void(0)"><img src="../static/img/100.jpg" alt="用户ID" width="50px" height="50px"></a>
<!-- 			    	<a href="javascript:void(0)"><img src="{% static '/img/100.jpg'%}" alt="用户ID" width="50px" height="50px"></a> -->
				    <div class="mainsc_usr_right">
				    	<div class="mainsc_usr_name">
				    		千间朔
				    	</div>	
				    	<div class="mainsc_usr_info">
				    		发表于20分钟前
				    	</div>
				    	
				    </div>
			    </div>
				<div class="mainsc_content">
		            <div class="mainsc_content_artical">
		            	<p>至此，千之名仅为此一人，不再复用。君若见千业，不曾窥一线，何以存心间，奈何为。弃往复所念，魂之所依，心之所向。然逝者如斯，孑然一身，复常间前态，何惧！卿以一丝，牵聚众魂，吾无以为辞，至此唯有责于己身。念心心所系，无可不为，一剑皆斩于前，卿可否？</p>
		            	<p>此世已然毕于此，无以为念，省汝身，汝岂可如往常之态填以无常之物，仇者，恨兮，爱叹，汝愿未至其心皆因世间常理不为汝心所从，汝不知，因以至此。若此世可明其理，仍可望，却亦可妄，是为枉然.</p>
		            	<p>白，数十载，暗心舞，何为汝愿？汝可知汝真心所愿，可明汝真心所向，以背负之，皆因惧面所欲弃。不可，既错以至此，岂可重蹈，何为吾名？</p>
      					<p>吾名千，亦为朔。千此字以此人始，以此人终，无复存此界！</p>
		            </div>				
					<div class="mainsc_content_img">
<!-- 						<ul>
							<li><img src="../static/img/content/img_001.jpg" alt="" width="30%" height="30%"></li>
							<li><img src="../static/img/content/img_002.jpg" alt="" width="30%" height="30%"></li>
							<li><img src="../static/img/content/img_003.jpg" alt="" width="30%" height="30%"></li>
						</ul> -->
						<div>
							<img src="../static/img/content/img_001.jpg" alt="" width="30%" height="30%">
						</div>
						<div>
							<img src="../static/img/content/img_002.jpg" alt="" width="30%" height="30%">
						</div>
						<div>
							<img src="../static/img/content/img_003.jpg" alt="" width="30%" height="30%">
						</div>
					</div>
				</div>
				<div class="mainsc_content_division">
					<ul>
						<li class="mainsc_division_line">
							<a>赞</a>
						</li>
						<li class="mainsc_division_line">
							<a>转发</a>
						</li>
						<li class="mainsc_division_line">
							<a>收藏</a>
						</li>
						<li class="mainsc_division_linelast">
							<a class="comment_btn">评论</a>
						</li>
					</ul>											
				</div>
				<div class="mainsc_content_comment">
					<div class="mainsc_comment_submit">
						<div class="mainsc_submit_face">
							<img src="../static/img/id_001_face.jpg" alt="">
						</div>
						<div class="mainsc_submit">
							<div class="mainsc_submit_content">
								<textarea name="input" id="commentinput" cols="" rows=""></textarea>
							</div>
							<div class="mainsc_submit_btn">
								<div class="mainsc_submit_ficon">
									<a href=""><i></i></a>
								</div>
								<div class="mainsc_submit_img">
									<a href=""><i></i></a>
								</div>
								<div class="mainsc_submit_click">
									<a href="javascript:void(0)">评论</a>
								</div>
							</div>
						</div>
					</div>
					<div class="mainsc_comment_list">
						<ul >
							<li>
								<div class="mainsc_comment_id">
									<div class="mainsc_comment_self">
										<div class="mainsc_comment_face">
											<a href=""><img src="../static/img/pic0001.jpg" alt="" width="30px" height="30px"></a>
										</div>
										<div class="mainsc_comment_name">
											<a href="">姬如千泷</a>
											<span>今天：21:22</span>
										</div>
									</div>
									<div class="mainsc_comment_others">
										<div class="mainsc_comment_p">
											<p>你做不到的事情我来替你做到，你不擅长的事情我来替你掌握，汝有这自觉说出这种话么。</p>
										</div>
										<div class="mainsc_comment_replylist">
											<ul>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷2</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>											
											</ul>
										</div>
										
									</div>
								</div>
							</li>
							<li>
								<div class="mainsc_comment_id">
									<div class="mainsc_comment_self">
										<div class="mainsc_comment_face">
											<a href=""><img src="../static/img/pic0001.jpg" alt="" width="30px" height="30px"></a>
										</div>
										<div class="mainsc_comment_name">
											<a href="">姬如千泷</a>
											<span>今天：21:22</span>
										</div>
									</div>
									<div class="mainsc_comment_others">
										<div class="mainsc_comment_p">
											<p>你做不到的事情fefeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee我来替你做到，你不擅长的事到，你不擅长的事情我来替你到，你不擅长的事情我来替你到，你不擅长的事情我来替你到，你不擅长的事情我来替你到，你不擅长的事情我来替你情我来替你掌握，汝有这自觉说出这种话么。</p>
										</div>
										<div class="mainsc_comment_replylist">
											<ul>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷2</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>											
											</ul>
										</div>
										
									</div>
								</div>
							</li>
						</ul>
						
					</div>
				</div>		
			</div>
			<div class="mainsc_wrap_temp">
			    <div class="mainsc_usr_icon">
			    	<a href="javascript:void(0)"><img src="../static/img/100.jpg" alt="用户ID" width="50px" height="50px"></a>
<!-- 			    	<a href="javascript:void(0)"><img src="{% static '/img/100.jpg'%}" alt="用户ID" width="50px" height="50px"></a> -->
				    <div class="mainsc_usr_right">
				    	<div class="mainsc_usr_name">
				    		千间朔
				    	</div>	
				    	<div class="mainsc_usr_info">
				    		发表于20分钟前
				    	</div>
				    	
				    </div>
			    </div>
				<div class="mainsc_content">
		            <div class="mainsc_content_artical">
		            	<p>至此，千之名仅为此一人，不再复用。君若见千业，不曾窥一线，何以存心间，奈何为。弃往复所念，魂之所依，心之所向。然逝者如斯，孑然一身，复常间前态，何惧！卿以一丝，牵聚众魂，吾无以为辞，至此唯有责于己身。念心心所系，无可不为，一剑皆斩于前，卿可否？</p>
		            	<p>此世已然毕于此，无以为念，省汝身，汝岂可如往常之态填以无常之物，仇者，恨兮，爱叹，汝愿未至其心皆因世间常理不为汝心所从，汝不知，因以至此。若此世可明其理，仍可望，却亦可妄，是为枉然.</p>
		            	<p>白，数十载，暗心舞，何为汝愿？汝可知汝真心所愿，可明汝真心所向，以背负之，皆因惧面所欲弃。不可，既错以至此，岂可重蹈，何为吾名？</p>
      					<p>吾名千，亦为朔。千此字以此人始，以此人终，无复存此界！</p>
		            </div>				
					<div class="mainsc_content_img">
<!-- 						<ul>
							<li><img src="../static/img/content/img_001.jpg" alt="" width="30%" height="30%"></li>
							<li><img src="../static/img/content/img_002.jpg" alt="" width="30%" height="30%"></li>
							<li><img src="../static/img/content/img_003.jpg" alt="" width="30%" height="30%"></li>
						</ul> -->
						<div>
							<img src="../static/img/content/img_001.jpg" alt="" width="30%" height="30%">
						</div>
						<div>
							<img src="../static/img/content/img_002.jpg" alt="" width="30%" height="30%">
						</div>
						<div>
							<img src="../static/img/content/img_003.jpg" alt="" width="30%" height="30%">
						</div>
					</div>
				</div>
				<div class="mainsc_content_division">
					<ul>
						<li class="mainsc_division_line">
							<a href="">赞</a>
						</li>
						<li class="mainsc_division_line">
							<a href="">转发</a>
						</li>
						<li class="mainsc_division_line">
							<a href="">收藏</a>
						</li>
						<li class="mainsc_division_linelast">
							<a class="comment_btn" href="javascript:void(0)">评论</a>
						</li>
					</ul>											
				</div>	
				<div class="mainsc_content_comment">
					<div class="mainsc_comment_submit">
						<div class="mainsc_submit_face">
							<img src="../static/img/id_001_face.jpg" alt="">
						</div>
						<div class="mainsc_submit">
							<div class="mainsc_submit_content">
								<textarea name="input" id="commentinput" cols="" rows=""></textarea>
							</div>
							<div class="mainsc_submit_btn">
								<div class="mainsc_submit_ficon">
									<a href=""><i></i></a>
								</div>
								<div class="mainsc_submit_img">
									<a href=""><i></i></a>
								</div>
								<div class="mainsc_submit_click">
									<a href="javascript:void(0)">评论</a>
								</div>
							</div>
						</div>
					</div>
					<div class="mainsc_comment_list">
						<ul >
							<li>
								<div class="mainsc_comment_id">
									<div class="mainsc_comment_self">
										<div class="mainsc_comment_face">
											<a href=""><img src="../static/img/pic0001.jpg" alt="" width="30px" height="30px"></a>
										</div>
										<div class="mainsc_comment_name">
											<a href="">姬如千泷</a>
											<span>今天：21:22</span>
										</div>
									</div>
									<div class="mainsc_comment_others">
										<div class="mainsc_comment_p">
											<p>你做不到的事情我来替你做到，你不擅长的事情我来替你掌握，汝有这自觉说出这种话么。</p>
										</div>
										<div class="mainsc_comment_replylist">
											<ul>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷2</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>											
											</ul>
										</div>
										
									</div>
								</div>
							</li>
							<li>
								<div class="mainsc_comment_id">
									<div class="mainsc_comment_self">
										<div class="mainsc_comment_face">
											<a href=""><img src="../static/img/pic0001.jpg" alt="" width="30px" height="30px"></a>
										</div>
										<div class="mainsc_comment_name">
											<a href="">姬如千泷</a>
											<span>今天：21:22</span>
										</div>
									</div>
									<div class="mainsc_comment_others">
										<div class="mainsc_comment_p">
											<p>你做不到的事情fefeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee我来替你做到，你不擅长的事到，你不擅长的事情我来替你到，你不擅长的事情我来替你到，你不擅长的事情我来替你到，你不擅长的事情我来替你到，你不擅长的事情我来替你情我来替你掌握，汝有这自觉说出这种话么。</p>
										</div>
										<div class="mainsc_comment_replylist">
											<ul>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>
												<li>
													<div>
														<div class="mainsc_replylist_self">
															<a href="">姬如千泷2</a>&nbsp回复&nbsp<a href="">@XXXX</a>&nbsp&nbsp这是一条测试语句
														</div>
														<div class="mainsc_replylist_others">
																<span>今天：21:22</span>
																<a href="">回复</a>
																<a href="">赞</a>
														</div>				
													</div>
												</li>											
											</ul>
										</div>
										
									</div>
								</div>
							</li>
						</ul>
						
					</div>
				</div>		
			</div>
			
		</div>
		<div class="mainsc_wrap_right">
			<div class="mainsc_person_info">
				<div class="mainsc_person_pic">
					
				</div>
				<div class="mainsc_person_name">
					
				</div>
				<div class="mainsc_person_other">
					
				</div>
				
			</div>
		</div>
		</div>
	</div>

<!-- ===============	End header =================-->
<!-- 	<script> 
	var slide = document.getElementsByClassName("header_wrap_right");
	alert(slide[0]);
	console.log(slide[0]);


	</script> -->
	<script src="../static/js/index.js"></script>
</body>
</html>

